###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [2]:
# CODE HERE
person1={'Name': "Srikanth",
        "Gender": "Male",
"Occupation": "Data Scientist",
"Location" :["Nizampet", "Hyderabad"]}
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': ['Nizampet', 'Hyderabad']}

In [45]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': ['Nizampet', 'Hyderabad']}

> print keys in person1 as a list

In [3]:
# CODE HERE
list(person1)

['Name', 'Gender', 'Occupation', 'Location']

In [3]:
#  CODE HERE

['Name', 'Gender', 'Occupation', 'Location']

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [4]:
# CODE HERE
person1.setdefault('Age', 27)
print(person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': ['Nizampet', 'Hyderabad'], 'Age': 27}

In [5]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': ['Nizampet', 'Hyderabad'],
 'Age': 27}

> Remove Location in person1

In [6]:
# CODE HERE
person1.pop("Location")
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Age': 27}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [7]:
# CODE HERE
person2={
    "Name": "Raghu Ram",
"Gender": "Male",
"Age":25,
"Occupation": "Data Scienctist"
}
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scienctist'}

In [8]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [8]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scienctist'}

In [9]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scienctist'}

In [56]:
person1 | person2

{('Age', 25),
 ('Age', 27),
 ('Gender', 'Male'),
 ('Name', 'Raghu Ram'),
 ('Name', 'Srikanth'),
 ('Occupation', 'Data Scienctist'),
 ('Occupation', 'Data Scientist')}

In [14]:
person1.update(person2)

None

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [15]:
dict1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [18]:
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [19]:
result=dict1.popitem()
result

(7, 49)

In [6]:
# CODE HERE
res=dict1.

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [3]:
d={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
  

print("The original dictionary : " , (d))
  

res = dict(reversed(list(d.items())))
  
print("The reversed order dictionary : " ,(res))

The original dictionary :  {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
The reversed order dictionary :  {9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

In [22]:
# print(sorted(dict1,reverse=True))

[6, 5, 4, 3, 2, 1]

In [2]:
# CODE HERE

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [21]:
database = {'ram':1234,'raghu':5678,'kanav':1357}

In [22]:
# 1. if the username and password matches print hello username

Username= input("enter username: ")
password=int(input("enter password: "))
if(database[Username]==password):
    print("hello")

enter username: raghu
enter password: 5678
hello

In [3]:
print(database)

{'ram': 1234, 'raghu': 5678, 'kanav': 1357}

###  if-in statement:
- This approach uses the if-in statement to check whether or not a given key exists in the dictionary.

###

In [3]:
# 2. if the username and password doesnot match, ask, you want me to add into the database.

Username=input("enter Username : ")
password=int(input("enter password: "))
if (Username in database):                  
    print("""This username  exist.
           please add username and password in database.""")
else:
    print("""This username doesn,t exit.
please add username and password in database.""")  

# 3. show the updated database list.

d= {}
Username=input("Enter  username :")
Password=int(input("enter password: "))
d[Username]=Password


database.update(d)
print(" Your database is updated :",database)

enter Username : junu
enter password: 6578
This username doesn,t exit.
please add username and password in database.
Enter  username :junu
enter password: 6578
 Your database is updated : {'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'junu': 6578}

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [20]:
# CODE HERE
x={**dict1, **dict2, **dict3}
print(x)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [19]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

### Name: Vidyashree Nayak
### batch:129