###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [6]:
nums=[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [7]:
# Method 1 
nums.remove(3)
print(nums)

[1, 2, 4]

In [10]:
# Method 2
nums=[1,2,3,4]
nums.pop(2)
print(nums)

[1, 2, 4]

In [11]:
# Method 3
nums=[1,2,3,4]
del nums[2]

print(nums)

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [17]:
nums.pop()
print(nums)

[1, 2, 3]

**Check nums.pop(0) ** 
> write you comment after executing this command

In [6]:
nums.pop(0)
nums# removes zeroth position

[2, 3, 4]

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [20]:
# Method1
nums.extend([3,4])
print(nums)

[1, 2, 3, 4, 3, 4]

In [13]:
#Method 2

nums.append([3,4])

print(nums)

[1, 2, 4, [3, 4]]

**Insert number "1" in 0th position**

In [30]:
nums.insert(0,1)

print(nums)

[1, 1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [34]:
nums.insert(2,"Two-and-half")
# removing duplicate values 
nums=list(dict.fromkeys(nums))
print(nums)

[1, 'Two-and-half', 2, 3, 4]

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [114]:
plist="Don't panic!"

*convert into list*

In [115]:
plist=list(plist)
print(plist)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [116]:
plist.remove("!")
print(plist)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [117]:
plist.remove("'")
print(plist)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [118]:
plist.remove("p")
plist.remove("a")

plist.remove("D")
del plist[-3]

print(plist)

['o', 'n', 't', ' ', 'i', 'c']

In [119]:
plist=list(dict.fromkeys(plist))
plist.extend(["p","a","n","D"])
print (plist)

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

- Created a variable name as plist and phrase with "Don't Panaic!"
- Converted  phrase into list ,used  method using list() 
- Removed ** '** and ! in the list using remove function
- Removed "p" , "a","D" and used del keyoword for removing "n" using index and then passed a list as parameter to  extend method

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [121]:
plist

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

In [122]:
plist1=plist[-4:]
print(plist1)

['p', 'a', 'n', 'D']

- append list

In [123]:
plist1.append("a")
print(plist1)

['p', 'a', 'n', 'D', 'a']

In [48]:
plist1

['p', 'a', 'n', 'D', 'a']

- Join list

Create a tuples for numbers 31,24,35,85 as nums

In [34]:
# CODE HERE
tup1=31,24,35,85 
print(tup1)
print(type(tup1))

(31, 24, 35, 85)
<class 'tuple'>

data type <class 'tuple'>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [35]:
# CODE HERE
list1=list(tup1)
print(list1)
list1.remove(35)
print(list1)

[31, 24, 35, 85]
[31, 24, 85]

(31, 24, 85)

**Extent** tuple (85,19)

In [36]:
list1.extend([85,19])
print(list1)
print(tuple(list1))

[31, 24, 85, 85, 19]
(31, 24, 85, 85, 19)

In [33]:
# CODE HERE

[31, 24, 85, 19, 85, 85, 19]
(31, 24, 85, 19, 85, 85, 19)

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [16]:
a='5 2 3 6 6 5'
l=[]
a_lst= a.split(" ")
for i in a_lst:
    print(i,end=" ")
    
    l.append(int(i))

l.sort()
print(end="\n")
print("second highest" ,l[2])
    
#print(a_lst.sort())

5 2 3 6 6 5
second highest 5

In [2]:
# CODE HERE

5 2 4 6 2 2
second higest is : 5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [28]:
num=[12,24,35,70,88,120,155]
print(list(enumerate(num)))
z=[x for (i,x) in enumerate(num) if i not in (0,4,5)] 
z

[(0, 12), (1, 24), (2, 35), (3, 70), (4, 88), (5, 120), (6, 155)]

[24, 35, 70, 155]

In [3]:
# CODE HERE

[24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [38]:
tup4=(1,2,3,4,5,6,7,8,9,10)
print(tup4)
tup5=tup4[:4]
tup6=tup4[5:]
print(tup5,tup6)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4) (6, 7, 8, 9, 10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

TypeError: 'int' object is not iterable

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [19]:
tup2=(1,2,3,4,5,6,7,8,9,10)

In [24]:
tup2=1,2,3,4,5,6,7,8,9,10
l=[]
for i in tup2:
    if(i%2==0):
        l.append(i)
    
        
        
print(tuple(l))

(2, 4, 6, 8, 10)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

### Name: Vidyashree Nayak
### Batch: 129

['B', 'C']