###  Sets

> Create a set "s" with elements 

1 , 2 , 'innomatics', 'hub'

In [26]:
# CODE HERE
s={1,2,'innomatics','hub'}
s

{1, 2, 'hub', 'innomatics'}

In [11]:
s

{1, 2, 'hub', 'innomatics'}

> Add element 'Technology' in s

In [2]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [14]:
# CODE HERE
s.remove("technology")
s.add("Technology")
print(s)

{1, 2, 'Technology', 'innomatics', 'hub'}

{1, 2, 'Technology', 'hub', 'innomatics'}

> Create one more set "sc" with elements 

3,4, 'hub', 'Technology'

In [15]:
# CODE HERE
sc={3,4,'hub','Technology'}
sc

{3, 4, 'Technology', 'hub'}

In [12]:
sc

{3, 4, 'Technology', 'hub'}

> Find difference of two sets s and sc

s - sc

In [18]:
# CODE HERE
print(s-sc)
print(s.difference(sc))

{1, 2, 'innomatics'}
{1, 2, 'innomatics'}

{1, 2, 'innomatics'}

> remove 2 from set s

In [15]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [27]:
# CODE HERE
s.remove(2)
s

{1, 'hub', 'innomatics'}

In [17]:
s

{1, 'Technology', 'hub', 'innomatics'}

> Print common element in two sets s and sc

s intersection sc

In [22]:
# CODE HERE
print(s.intersection(sc))
print(s & sc)

{'hub', 'Technology'}
{'hub', 'Technology'}

{'Technology', 'hub'}

> Print all element in two sets

s union sc

In [24]:
# CODE HERE
print(s.union(sc))
print(s | sc)

{1, 3, 'Technology', 4, 'innomatics', 'hub'}
{1, 3, 'Technology', 4, 'innomatics', 'hub'}

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

### Name: Vidyashree Nayak
### batch:129